* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 3em;
  font-size: 10px;
  font-family: 'Merriweather', serif;
}

.page-header {
  text-align: center;
}

.page-header__title {
  font-size: 3em;
  font-weight: bold;
}

.page-header__subtitle {
  font-size: 1.5em;
}

.section__header {
  padding: 8px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background-color: #efefef;
}

.section__content {
  font-size: 1.5em;
}

.section__content--align-center {
  text-align: center;
}
