body {
  color: #677090;
  padding-top: 16px;
  padding-bottom: 32px;
  background-color: #23283d;
  font-family: "Kode Mono", monospace;
}

h1, h2, li {
  font-size: 13px;
}

img {
  width: 100%;
}

.page {
  width: 100%;
  margin: 0 auto;
  max-width: 500px;
}

h1:before {
  content: '# '
}

h2:before {
  content: '## '
}

h1:before, h2:before {
  color: #66bade;
}

h1, h2 {
  color: #a582d9;
}

ul {
  list-style-type: none;
  list-style-position: none
}

ul li:before {
  content: '* ';
  color: #e86482;
}

a {
  color: #b79154;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.ko-fi {
  right: 8px;
  bottom: 8px;
  position: fixed;
}
